<input type="button" value="Input type button">
<input type="reset" value="Input type reset">
<input type="submit" value="Input type submit">
<input type="submit" value="Input type submit disabled" disabled>
<button type="button">Button type button</button>
<button type="reset">Button type reset</button>
<button type="submit">Button type submit</button>
<button type="button" disabled>Button type button disabled</button>
<button>Button</button>
<a href="" class="second-button">Second Button</a>
<a href="" class="third-button">Third Button</a>