<article class="second-heading">
	<h1>
		Heading 1 (secondary) with <small>small text</small> and a <a href="#">link</a>
	</h1>
	<h2>
		Heading 2 (secondary) with <small>small text</small> and a <a href="#">link</a>
	</h2>
	<h3>
		Heading 3 (secondary) with <small>small text</small> and a <a href="#">link</a>
	</h3>
	<h4>
		Heading 4 (secondary) with <small>small text</small> and a <a href="#">link</a>
	</h4>
	<h5>
		Heading 5 (secondary) with <small>small text</small> and a <a href="#">link</a>
	</h5>
	<h6>
		Heading 6 (secondary) with <small>small text</small> and a <a href="#">link</a>
	</h6>
</article>